obj
bin
src/cortex/metacortex_old.c
src/cortex/metacortex_new.c
.Rhistory
.DS_Store
nbproject/configurations.xml
nbproject/private/c_standard_headers_indexer.c
nbproject/private/CodeAssistancePathMapper.properties
nbproject/private/configurations.xml
nbproject/private/cpp_standard_headers_indexer.cpp
nbproject/private/Default-build.log
nbproject/private/Default-exec.log
nbproject/private/Default.properties
nbproject/private/launcher.properties
nbproject/private/private.xml
nbproject/private/tools/localhost/GNU/g++
nbproject/private/tools/localhost/GNU/gcc
nbproject/private/tools/localhost/GNU/gcc-7
nbproject/project.xml
